<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 注意：这里的bean的id与applicationContext.xml中的一样 -->
	<bean id="helloBean" class="neu.danny.HelloBean">
		<property name="helloWord">
			<value>Hello! Justin! -------1</value>
		</property>
	</bean>

</beans>