<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<!-- definite the dao -->
	<bean id="userDao4Oracle" class="com.neusoft.dao.impl.UserDao4Oracle9Impl"/>
	<bean id="userDao4DB2" class="com.neusoft.dao.impl.UserDao4DB2Impl"/>
	
	<!-- definite the service -->
	<bean id="login_serviceUseCons" class="com.neusoft.service.impl.UserServiceWithConstructorImpl">
		<constructor-arg ref="userDao4Oracle"/>
	</bean>
	
	<bean id="login_serviceUseSetters" class="com.neusoft.service.impl.UserServiceWithSettersImpl">
		<property name="userDao" ref="userDao4DB2"></property>
	</bean>
	
</beans>


