<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="dateBean22" class="java.util.Date"></bean>
	<!--  注意：需要保证只有一个bean的类型与byType中的属性匹配
		<bean id="dateBean223" class="java.util.Date"></bean> 
	 -->
	
	<bean id="helloBean" class="neu.danny.HelloBean" autowire="byType">
		<property name="helloWord">
			<value>Hello!</value>
		</property>
	</bean>
	
	<!-- 
		指定"byType"，容器会根据helloBean的setDate()方法所接受的类型，来判断在Bean定义文件中是否定义有类似
		的类型对象，并将之设定给helloBean的setDate()。
	 -->

</beans>