<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="userManager" class="neu.danny.UserManager">
		<property name="userDao">
			<ref bean="userDao"/>
		</property>
    </bean>
    
    <bean name="userDao" class="neu.danny.UserDao" scope="prototype">
    	<constructor-arg>
    		<value>UserManager.getUserDao()</value>
    	</constructor-arg>    	
    </bean>
    
</beans>